body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

h1,
h2 {
    font-weight: bold;
}

p,
li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.image-home {
    height: auto;
    width: 200px;
}

.image-recipe {
    height: auto;
    width: 500px;
}

.list-overview-recipes li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    list-style: none;
}

button {
    border-color: black;
    background-color: rgb(255, 237, 72);
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover {
    background-color: rgb(87, 250, 41);
}